// This file defines how the emoji popup should look

.emojiPicker-3m1S-j,
.search-bar-light,
.search-bar-inner,
.stickyHeader-1SS0JU {
    background-color: $secondary-bg-color !important;
}

.search-bar-inner input[type=text] {
    color: $fg-color !important;
}

.emojiPicker-3m1S-j {
    border-radius: unset !important;
}

.emojiPicker-3m1S-j {
    border: none !important;
}
