// Any regular modal popups can be styled here

.content-2BXhLs {
    background-color: $bg-color !important;
}

.footer-2yfCgX {
    background-color: $secondary-bg-color !important;
}

.modal-3HD5ck,
.content-2BXhLs,
.footer-2yfCgX {
    border-radius: unset !important;
}
