.uploadModal-2ifh8j,
.footer-3mqk7D {
    background-color: $bg-color !important;
}

.inner-zqa7da,
.button {
    background-color: $secondary-bg-color !important;
    // color: $fg-color;
}

.icon-kyxXVr {
    display: none;
}

.description-2ug5H_ {
    margin: 0 16px;
}

.button {
    margin: 0 0 0 5px;
}

.inner-3nWsbo {
    // border-color: $fg-color !important;
    border: unset !important;
}
