// This file defines how the members bar should look

.members-1998pB {
    background-color: $bg-color !important;
}

.member-3W1lQa > .content-OzHfo4 {
    color: $fg-color !important;
}

.member-3W1lQa > .content-OzHfo4:hover {
    background-color: $secondary-bg-color !important;
}
