// This file defines how messages should look

.messages-wrapper,
.content > .flex-spacer,
.content > .flex-spacer > form,
.typing-2GQL18 {
    background-color: $bg-color !important;
}

.new-messages-bar,
.title-3qD0b-,
.channelTextArea-rNsIhG > .inner-zqa7da,
.divider > div,
.embedPill-1Zntps,
.embedInner-1-fpTo {
    background-color: $secondary-bg-color !important;
}

.divider::before,
.divider > span {
    background-color: transparent !important;
}

.message-text > .markup {
    color: $fg-color !important;
}

.divider > span,
.divider-red > span {
    color: $secondary-fg-color !important;
}

.channelTextArea-rNsIhG > .inner-zqa7da,
.divider > span,
.embed-IeVjo6,
.avatar-large,
.spinner-item {
    border-radius: unset !important;
}

.embedPill-1Zntps {
    display: none;
}

.embedInner-1-fpTo {
    border: none !important;
}

.mention {
    color: $secondary-highlight-color !important;
    background-color: darken($highlight-color, 18%) !important;
}
