// This file defines how the channels bar should look

.channels-Ie2l6A,
.container-PNkimc,
.item-1GzJrl:hover,
.channelNotice-1-XFjC {
    background-color: $bg-color !important;
}

.contentHoveredText-2D9B-x,
.menu-Sp6bN1,
.container-2Thooq {
    background-color: $secondary-bg-color !important;
}

.contentSelectedText-3wUhMi {
    background-color: $secondary-bg-color !important;

}

.nameSelectedText-sp_EUw,
.nameUnreadText-DfkrI4,
.menu-Sp6bN1 {
    color: $fg-color !important;
}

.unread-1Dp-OI {
    background-color: $highlight-color !important;
}

.unread-1Dp-OI,
.avatar-small,
.status {
    border-radius: unset !important;
}
