// This file defines how the channels bar should look

.container-2Thooq,
.channels-Ie2l6A,
.container-PNkimc,
.item-1GzJrl:hover,
.channelNotice-1-XFjC {
    background-color: $bg-color !important;
}

.header-2o-2hj,
.contentHoveredText-2D9B-x,
.menu-Sp6bN1,
.channel.private:hover > a,
.channel.private.selected > a,
.channel.btn-friends:hover > a {
    background-color: $secondary-bg-color !important;
}

.contentSelectedText-3wUhMi {
    background-color: $secondary-bg-color !important;

}

.nameSelectedText-sp_EUw,
.nameUnreadText-DfkrI4,
.menu-Sp6bN1 {
    color: $fg-color !important;
}

.unread-1Dp-OI {
    background-color: $highlight-color !important;
}

.unread-1Dp-OI,
.avatar-small,
.status {
    border-radius: unset !important;
}

.listeningAlong-2UPsxf,
.container-1UB9sr {
    background-color: $bg-color !important;
}

.container-1UB9sr {
    border-bottom: 1px solid $darkest-bg-color !important;
}

.button-2b6hmh.button-38aScr.colorBrand-3pXr91 {
    border: unset !important;
}
