// This file defines how the guild list should look

.guilds-wrapper {
    background-color: $bg-color !important;
}

.guild-inner {
    background-color: $secondary-bg-color !important;
}

.guild-inner,
.guilds-add,
.guild.selected:before,
.guild.unread:before,
.badge,
.unread-mentions-bar {
    border-radius: unset !important;
}

.guild.selected:before {
    background-color: $secondary-highlight-color !important;
}

.badge,
.unread-mentions-bar {
    background-color: $highlight-color !important;
}

.icon-2aINcz,
.unread-mentions-bar,
.badge {
    color: $bg-color !important;
    font-weight: 500;
}

.badge {
    box-shadow: none !important;
}

.guild.unread:before {
    background-color: $highlight-color !important;
}

.unread-mentions-indicator-top > .unread-mentions-bar {
    margin-top: -6px;
}

.unread-mentions-indicator-bottom > .unread-mentions-bar {
    margin-top: 6px;
}
