// This file defines how the guild list should look

.guildsWrapper-5TJh6A {
    background-color: $darkest-bg-color !important;
}

.guildInner-3DSoA4,
.guild-1EfMGQ {
    background-color: $secondary-bg-color !important;
    border-radius: 0 !important;
}

.guild-1EfMGQ.selected-ML3OIq:before,
.guild-1EfMGQ.unread-qLkInr:before,
.bar-30k2ka,
.bar-30k2ka > .icon-2aINcz {
    border-radius: 0;
    background-color: $secondary-highlight-color !important;
    color: black;
}

.badge-1GsMF2 {
    border-radius: 0;
    background-color: $highlight-color !important;
    color: black;
}

// .guildInner-3DSoA4,
// .guilds-add,
// .guild.selected:before,
// .guild.unread:before,
// .badge,
// .unread-mentions-bar {
//     border-radius: unset !important;
// }

// .guild.selected:before {
//     background-color: $secondary-highlight-color !important;
// }

// .badge,
// .unread-mentions-bar {
//     background-color: $highlight-color !important;
// }

// .icon-2aINcz,
// .unread-mentions-bar,
// .badge {
//     color: $bg-color !important;
//     font-weight: 500;
// }

// .badge {
//     box-shadow: none !important;
// }

// .guild.unread:before {
//     background-color: $highlight-color !important;
// }

// .unread-mentions-indicator-top > .unread-mentions-bar {
//     margin-top: -6px;
// }

// .unread-mentions-indicator-bottom > .unread-mentions-bar {
//     margin-top: 6px;
// }
