// This stylesheet defines how profile cards should look

.contextMenu-HLZMGh {
    background-color: $bg-color !important;
}

.item-1Yvehc:hover {
    background-color: $secondary-bg-color !important;
}

.topSectionNormal-2-vo2m,
.connectedAccount-36nQx7,
.headerFill-adLl4x {
    background-color: $secondary-bg-color !important;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: $darkest-bg-color !important;
}

.item-1Yvehc,
.tabBarItem-1b8RUP,
.colorGreen-29iAKY {
    color: $fg-color !important;
}

.body-3ND3kc,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P {
    background-color: $bg-color !important;
}

.userInfoSection-2acyCx,
.connectedAccount-36nQx7,
.tabBarContainer-1s1u-z {
    border: unset !important;
}

.itemSelected-1qLhcL.selected-3s45Ha {
    border-bottom-color: $highlight-color !important;
    background-color: $secondary-bg-color !important;
}

.itemSelected-1qLhcL.selected-3s45Ha:hover {
    border-color: $secondary-highlight-color !important;
    // background-color: lighten($secondary-bg-color, 4%) !important;
}

.itemDefault-3Jdr52.notSelected-1N1G5p:hover {
    border-color: $secondary-highlight-color !important;
}

.tabBarItem-1b8RUP:hover {
    border-bottom-color: $secondary-fg-color !important;
}

.listAvatar-1NlAhb,
.contextMenu-HLZMGh,
.item-1Yvehc,
.root-SR8cQa {
    border-radius: unset !important;
}

.colorGreen-29iAKY {
    background-color: $bg-color !important;
}

.colorGreen-29iAKY:hover {
    background-color: lighten($bg-color, 2%) !important;
}

.colorGreen-29iAKY:active {
    background-color: darken($bg-color, 2%) !important;
}

.contextMenu-HLZMGh {
    border-radius: unset !important;
    overflow: visible !important;
}
