// This stylesheet defines how profile cards should look

.topSectionNormal-2-vo2m,
.connectedAccount-36nQx7,
.contextMenu-HLZMGh,
.itemSubMenu-1vN_Yn {
    background-color: $secondary-bg-color !important;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: $darkest-bg-color !important;
}

.item-1Yvehc,
.tabBarItem-1b8RUP,
.colorGreen-29iAKY {
    color: $fg-color !important;
}

.body-3ND3kc,
.item-1Yvehc:hover {
    background-color: $bg-color !important;
}

.userInfoSection-2acyCx,
.connectedAccount-36nQx7,
.tabBarContainer-1s1u-z {
    border: unset !important;
}

.tabBarItem-1b8RUP.selected {
    border-bottom-color: $highlight-color !important;
}

.tabBarItem-1b8RUP:hover {
    border-bottom-color: $secondary-fg-color !important;
}

.listAvatar-1NlAhb,
.contextMenu-HLZMGh,
.item-1Yvehc,
.root-SR8cQa, {
    border-radius: unset !important;
}

.colorGreen-29iAKY {
    background-color: $bg-color !important;
}

.colorGreen-29iAKY:hover {
    background-color: lighten($bg-color, 2%) !important;
}

.colorGreen-29iAKY:active {
    background-color: darken($bg-color, 2%) !important;
}

.contextMenu-HLZMGh {
    border-radius: unset !important;
    overflow: visible !important;
}
