// Base colors and variables for Undead Discord are defined in here
// Please use this file to define any and all variables

$bg-color:                  #1b1b1b;
$fg-color:                  #9e9e9e;
$secondary-bg-color:        #262626;
$secondary-fg-color:        #616161;
$darkest-bg-color:          #121212;
$highlight-color:           #752a2a;
$secondary-highlight-color: #ac4142;

// The following hljs colors are for syntax highlighting
// Follows the base16 colors defined in CONTRIBUTING.md
$hljs-tag:                  #6a9fb5;
$hljs-string:               #90a959;
$hljs-variable:             #75b5aa;
$hljs-number:               #ac4142;
$hljs-keyword:              #f4bf75;
$hljs-comment:              #78877d;
$hljs-meta:                 #aa759f;
