// Base colors and variables for Undead Discord are defined in here
// Please use this file to define any and all variables

$bg-color:                  #1b1b1b;
$fg-color:                  #9e9e9e;
$secondary-bg-color:        #262626;
$secondary-fg-color:        #616161;
$darkest-bg-color:          #121212;
$highlight-color:           #752a2a;
$secondary-highlight-color: #ac4142;

// The following hljs colors are for syntax highlighting
$hljs-tag:                  #62c8f3;
$hljs-string:               #a2fca2;
$hljs-variable:             #ffffaa;
$hljs-number:               #d36363;
$hljs-keyword:              #fcc28c;
$hljs-comment:              #78877d;
