// This file contains any miscellaneous styles that
// are not part of any individual style part

// Titlebar styles
.titleBar-AC4pGV {
    border-bottom: 1px solid $darkest-bg-color;
    background-color: $bg-color;
}

.expandedFolderBackground-2sPsd- {
    margin-bottom: -5px;
    background-color: $bg-color;
    border-bottom: 1px solid $secondary-fg-color;
}

.scroller-2TZvBN, .childWrapper-anI2G9, .selected-bZ3Lue, .panels-j1Uci_,
.sidebar-2K8pFh, .activityFeed-1C0EmJ, .privateChannels-1nO12o, .scroller-2FKFPG,
.container-1r6BKw, .children-19S4PO:after {
    background-color: $bg-color !important;
}

.folder-21wGz3, .folderIconWrapper-226oVY, .circleIconButton-jET_ig {
    background-color: $secondary-bg-color !important;
}

.pill-31IEus > .item-2hkk8m {
    background-color: $secondary-highlight-color;
}

.numberBadge-2s8kKX {
    background-color: $secondary-highlight-color !important;
    color: lighten($fg-color, 20%);
}

.theme-dark .max-mvI_jT:before {
    border-bottom-color: $bg-color;
}

// Text selection styles
::-moz-selection {
    background-color: $highlight-color !important;
    color: $bg-color !important;
}

::selection {
    background-color: $highlight-color !important;
    color: $fg-color !important;
}

::-webkit-scrollbar-track-piece {
    background-color: $bg-color !important;
    border: unset !important;
}

::-webkit-scrollbar-thumb {
    background-color: $secondary-bg-color !important;
    border-radius: unset !important;
    border-color: $bg-color !important;
}

* {
    border-radius: 0 !important;
    // mask: none !important;
}

.closedFolderIconWrapper-15K9MK, .folder-21wGz3, .folderIconWrapper-226oVY, .wrapper-25eVIn, .svg-1X37T1, #743f20e2-f878-4f9b-8df7-c5d0c34614ff {
    mask: none !important;
}
