// This file contains any miscellaneous styles that
// are not part of any individual style part

// Titlebar styles
.titleBar-AC4pGV {
    border-bottom: 1px solid $darkest-bg-color;
}

.theme-dark .max-mvI_jT:before {
    border-bottom-color: $bg-color;
}

// Text selection styles
::-moz-selection {
  background-color: $highlight-color !important;
  color: $bg-color !important;
}

::selection {
  background-color: $highlight-color !important;
  color: $fg-color !important;
}

::-webkit-scrollbar-track-piece {
  background-color: $bg-color !important;
  border: unset !important;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-bg-color !important;
  border-radius: unset !important;
  border-color: $bg-color !important;
}
