// This file defines how the settings page should look

.sidebar-region,
.content-region,
.colorBrand-3pXr91,
.accountBtnInner-sj5jLs,
.Select-option:hover,
.card-FDVird:hover:before {
    background-color: $bg-color !important;
}

.card-3Qj_Yx,
.colorBrand-3pXr91:hover,
.accountBtnInner-sj5jLs:hover,
.Select-menu,
.removeKeybind-39dSFj {
    background-color: $secondary-bg-color !important;
}

.Select-option.is-selected {
    background-color: $darkest-bg-color !important;
}

.itemDefault-3Jdr52 {
    color: $fg-color !important;
}

.itemSelected-1qLhcL {
    color: lighten($fg-color, 35%) !important;
}

.selected-3s45Ha,
.valueChecked-m-4IJZ,
.barFill-23-gu- {
    background-color: $secondary-highlight-color !important;
}

.colorBrand-3pXr91 {
    border: 1px solid $secondary-bg-color !important;
}

.colorBrand-3pXr91:hover,
.accountBtnInner-sj5jLs:hover {
    border-color: $bg-color !important;
}

.selected-3s45Ha,
.card-3Qj_Yx,
.colorBrand-3pXr91,
.avatar-xxlarge,
.colorRed-1TFJan,
.accountBtnInner-sj5jLs,
.subscription {
    border-radius: unset !important;
}

.btn-close,
.connectionDelete-2Odoln,
.card-FDVird:hover:before {
    border: none !important;
}

.btn-close:hover {
    background-color: transparent !important;
}

.premium-tools-button {
    background-color: white !important;
    border: none !important;
}
